{% extends "base.html" %}


{% block content %}

<div class="container">

    <h2>Shootin' Straight FAQ</h2>
    
    <table border="1">
    <tr>
    <td>All Attempts Shooting Chart</td><td>
    <img width="400" height="300" src="https://scontent.xx.fbcdn.net/t31.0-8/13048006_1179414512078134_3084306966146283274_o.jpg"></td>
    <td>The blue circles indicate every shot the player attempted from the court excluding free throws.</td>
    </tr>
    <tr>
    <td>Makes and Misses Shooting Chart</td><td>
    <img width="400" height="300" src="https://scontent.xx.fbcdn.net/t31.0-8/13123102_1179414455411473_9189709134865907685_o.jpg"></td>
    <td>Red circles indicate missed shots and green circles indicate made shots.</td>
    </tr>
    <tr>
    <td>Field Goal Percentage Shooting Chart</td>
    <td><img width="400" height="300" src="https://scontent.xx.fbcdn.net/hphotos-xfl1/t31.0-8/13116106_1179414482078137_5722020755968719654_o.jpg"></td>
    <td>The warmer the color of the circle, the more efficient the player was from that area of the court. For example, the darkest red indicates the player made 100% of all shots attempted from that area.</td>
    </tr>
    <tr>
    <td>Relative Frequency of Points 2D Shooting Chart</td><td>
    <img width="400" height="300" src="https://scontent.xx.fbcdn.net/hphotos-xpt1/t31.0-8/13055762_1179414612078124_2868834576855035181_o.jpg"></td>
    <td>The warmer the color of the circle, the larger proportion of the player's total points were scored from that area of the court.</td>
    </tr>
    <tr>
    <td>Relative Frequency of Points 3D Shooting Chart</td><td>
    <img width="400" height="300" src="https://scontent.xx.fbcdn.net/hphotos-xlf1/t31.0-8/13063021_1179414458744806_3829563817454959554_o.jpg"></td>
    <td>The warmer the color of the bar and the taller the bar, the larger proportion of the player's total points were scored from that area of the court.</td>
    </tr>
    <tr>
    <td>Points 2D Shooting Chart</td><td>
    <img width="400" height="300" src="https://scontent.xx.fbcdn.net/hphotos-xat1/t31.0-8/13063106_1179414485411470_1935754770140083132_o.jpg"></td>
    <td>The warmer the color of the circle, the larger the number of points the player scored from that area of the court.</td>
    </tr>
    <tr>
    <td>Points 3D Shooting Chart</td><td>
    <img width="400" height="300" src="https://scontent.xx.fbcdn.net/t31.0-8/13119775_1179414475411471_5841434592332131736_o.jpg"></td>
    <td>The warmer the color of the bar and the taller the bar, the larger the number of points the player scored from that area of the court.</td>
    </tr> 
    </table>
</div>


{% endblock %}