{% extends "base.html" %}


{% block content %}

  <form method="post">
    <select name="playerName1">
      <option value="None">--------Select a player(Default is Stephen Curry)--------</option>
      <option value="Curry, Stephen">Stephen Curry</option>
      <option value="Bryant, Kobe">Kobe Bryant</option>
      <option value="James, Lebron">Lebron James</option>
      <option value="Nowitzki, Dirk">Dirk Nowitzki</option>
      <option value="Jordan, Deandre">Deandre Jordan</option>
    </select>
    <select name="playerName2">
      <option value="None">--------Select a player(Default is Deandre Jordan)--------</option>
      <option value="Curry, Stephen">Stephen Curry</option>
      <option value="Bryant, Kobe">Kobe Bryant</option>
      <option value="James, Lebron">Lebron James</option>
      <option value="Nowitzki, Dirk">Dirk Nowitzki</option>
      <option value="Jordan, Deandre">Deandre Jordan</option>
    </select>
    <select name="chartType">
      <option value="None">-----Select a chart type(Default is all types)-----</option>
      <option value="All Shots">All Shots</option>
      <option value="Makes Misses">Makes and Misses</option>
      <option value="Field Goal Percentage">Field Goal Percentage</option>
      <option value="Raw Points">Raw Points</option>
      <option value="Point Frequency">Point Frequency</option>
    </select>
    <select name="dimensions">
      <option value="None">-----Select 2D or 3D (Default is 2D)-----</option>
      <option value="2D">2D</option>
      <option value="3D">3D</option>
    </select>
    <input type="submit" value="sort" class="btn btn-xs btn-default">
  </form>
  <table>
    <tr>
      {% for greeting in greetings1 %}
        <th>
          <div class="label label-info">
            {{greeting.playerName}}
          </div>
          <div class="post-content">
            Chart Type: {{greeting.chartType}}
          </div>
          <div>{{ greeting.render() | safe }}</div>
        </th>
      {% endfor %}
    </tr>
    <tr>
      {% for greeting in greetings2 %}
        <th>
          <div class="label label-info">
            {{greeting.playerName}}
          </div>
          <div class="post-content">
            Chart Type: {{greeting.chartType}}
          </div>
          <div class="bg-primary">{{ greeting.render() | safe }}</div>
        </th>
      {% endfor %}
    </tr>
    <script>
    $("table").each(function () {
        var $this = $(this);
        var newrows = [];
        $this.find("tr").each(function () {
            var i = 0;
            $(this).find("td,th").each(function () {
                i++;
                if (newrows[i] === undefined) {
                    newrows[i] = $("<tr></tr>");
                }
                newrows[i].append($(this));
            });
        });
        $this.find("tr").remove();
        $.each(newrows, function () {
            $this.append(this);
        });
    });
    $('img')
        .wrap('<span style="display:inline-block"></span>')
        .css('display', 'block')
        .parent()
        .zoom({magnify: '2'});
  </script>
{% endblock %}